@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  
}

html{
  scroll-behavior: smooth;
}

.App{
  width:70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:1024px){
  
  .App{
      width:90%;
  }
}

@media screen and (max-width:512px){
  
  .App{
      width:100%;
  }
}

/********************** Navigation Bar  **************/

.navigation{
  display: flex;
  justify-content: space-between;
  padding: 12px;
  position: relative;
  align-items: center;
  flex: 1;
 
}

.nav-items{

  display: flex;
  flex:1;
  justify-content: flex-end;
}


.mobile-menu{
  display: none;
}

.web-menu{
  display: flex;
}

.logo{
  font-size: 2rem;
  color: blueviolet;
  font-weight: 800;
}

.mobile-menu .mobile-img img{

  height: 24px;
  width: 24px;
}

@media screen and (max-width:720px){
  
  .mobile-menu{
      display: flex;
  }

  .web-menu{
    display: none;
  }
  .logo{
    font-size: 1.4rem;
    
  }
}


.web{
  display: flex;
  align-items: center;
  flex: 1;
}

.web-options{
  font-size: 1.2rem;
  margin-right: 16px;
  font-weight: 700;
  
}

.web-options a{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.web-options:last-child{
  margin-right: 0px;
}

.option-icon{
  display: flex;
  align-items: center;
  margin-right: 4px;
}



.mobile{
  /* background-color: lightblue; */
  position: absolute;
  right:0px;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 18px 12px;
  top:-6px;
  background-color: white;
}

.mobile-cross-icon{
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

.mobile-options{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 24px;
}

.mobile-option{

 display: flex;
 font-size: 1.2rem;
 margin:12px 0px;
}

.mobile-option a{
  display: flex;
  color: black;
  text-decoration: none;
  align-items: center;
}


/***************** Body  *******************/

.body{

  padding: 12px;
  padding-bottom: 36px;

}

.about{
  padding-bottom: 48px;

}

.about-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.about-left{
  font-size: 24px;

}


.about-name{
  font-size: 32px;
  color: blue;
}

.about-image{
  height: 450px;
 
}

@media screen and (max-width:720px){
  .about-top{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-image{
    height:280px;
  }

  .about-left{
    font-size:1.1rem ;
  }
  .about-name{
    font-size: 1.2rem;
  }
}


.social-contact{

  display: flex;
  justify-content: center;
  align-items: center;
}


.social-icon-div{
  padding: 6px;
  margin:6px;
  cursor: pointer;
}

.social-icon{
  height: 55px;
}

@media screen and (max-width:720px){

  .social-icon{
    height: 32px;
  }
}